Almacen/WebContent/wsdl/DemoImplemet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:tns1="http://classes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://classes"/>
   <element name="descarga">
    <complexType/>
   </element>
   <element name="descargaResponse">
    <complexType/>
   </element>
   <element name="descarga2">
    <complexType/>
   </element>
   <element name="descarga2Response">
    <complexType/>
   </element>
   <element name="getDescarga">
    <complexType/>
   </element>
   <element name="getDescargaResponse">
    <complexType>
     <sequence>
      <element name="getDescargaReturn" type="tns1:Unload"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getSaluda">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSaludaResponse">
    <complexType>
     <sequence>
      <element name="getSaludaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPerson">
    <complexType>
     <sequence>
      <element name="namePerson" type="xsd:string"/>
      <element name="type" type="xsd:string"/>
      <element name="locality" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPersonResponse">
    <complexType/>
   </element>
   <element name="addVehicle">
    <complexType>
     <sequence>
      <element name="numberPlate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addVehicleResponse">
    <complexType/>
   </element>
   <element name="getPerson">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersonResponse">
    <complexType>
     <sequence>
      <element name="getPersonReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProduct">
    <complexType/>
   </element>
   <element name="addProductResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://classes" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="Company">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="block" nillable="true" type="xsd:string"/>
     <element name="door" nillable="true" type="xsd:string"/>
     <element name="floor" type="xsd:int"/>
     <element name="id" type="xsd:int"/>
     <element name="locality" nillable="true" type="xsd:string"/>
     <element name="nameVia" nillable="true" type="xsd:string"/>
     <element name="number" type="xsd:int"/>
     <element name="province" nillable="true" type="xsd:string"/>
     <element name="stairs" nillable="true" type="xsd:string"/>
     <element name="typeVia" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="TypePerson">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="tns1:Address"/>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="surname" nillable="true" type="xsd:string"/>
     <element name="telefoneNumber" nillable="true" type="xsd:string"/>
     <element name="typePerson" nillable="true" type="tns1:TypePerson"/>
    </sequence>
   </complexType>
   <complexType name="Vehicle">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="numberPlate" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Unload">
    <sequence>
     <element name="company" nillable="true" type="tns1:Company"/>
     <element name="date" nillable="true" type="xsd:string"/>
     <element name="driver" nillable="true" type="tns1:Person"/>
     <element name="id" type="xsd:int"/>
     <element name="products" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="produts" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="time" nillable="true" type="xsd:string"/>
     <element name="vehicle" nillable="true" type="tns1:Vehicle"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services"/>
   <import namespace="http://classes"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDescargaRequest">

      <wsdl:part element="impl:getDescarga" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addVehicleRequest">

      <wsdl:part element="impl:addVehicle" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="descarga2Response">

      <wsdl:part element="impl:descarga2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="descargaRequest">

      <wsdl:part element="impl:descarga" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescargaResponse">

      <wsdl:part element="impl:getDescargaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonRequest">

      <wsdl:part element="impl:getPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="descargaResponse">

      <wsdl:part element="impl:descargaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPersonRequest">

      <wsdl:part element="impl:addPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonResponse">

      <wsdl:part element="impl:getPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addVehicleResponse">

      <wsdl:part element="impl:addVehicleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductResponse">

      <wsdl:part element="impl:addProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSaludaRequest">

      <wsdl:part element="impl:getSaluda" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductRequest">

      <wsdl:part element="impl:addProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSaludaResponse">

      <wsdl:part element="impl:getSaludaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPersonResponse">

      <wsdl:part element="impl:addPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="descarga2Request">

      <wsdl:part element="impl:descarga2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DemoImplemet">

      <wsdl:operation name="descarga">

         <wsdl:input message="impl:descargaRequest" name="descargaRequest">

       </wsdl:input>

         <wsdl:output message="impl:descargaResponse" name="descargaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="descarga2">

         <wsdl:input message="impl:descarga2Request" name="descarga2Request">

       </wsdl:input>

         <wsdl:output message="impl:descarga2Response" name="descarga2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescarga">

         <wsdl:input message="impl:getDescargaRequest" name="getDescargaRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDescargaResponse" name="getDescargaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSaluda">

         <wsdl:input message="impl:getSaludaRequest" name="getSaludaRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSaludaResponse" name="getSaludaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPerson">

         <wsdl:input message="impl:addPersonRequest" name="addPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPersonResponse" name="addPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addVehicle">

         <wsdl:input message="impl:addVehicleRequest" name="addVehicleRequest">

       </wsdl:input>

         <wsdl:output message="impl:addVehicleResponse" name="addVehicleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPerson">

         <wsdl:input message="impl:getPersonRequest" name="getPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPersonResponse" name="getPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProduct">

         <wsdl:input message="impl:addProductRequest" name="addProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductResponse" name="addProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DemoImplemetSoapBinding" type="impl:DemoImplemet">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="descarga">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="descargaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="descargaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="descarga2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="descarga2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="descarga2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescarga">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescargaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDescargaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSaluda">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSaludaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSaludaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addVehicle">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addVehicleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addVehicleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DemoImplemetService">

      <wsdl:port binding="impl:DemoImplemetSoapBinding" name="DemoImplemet">

         <wsdlsoap:address location="http://localhost:8080/Almacen/services/DemoImplemet"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
